.button-row {
  display: table-cell;
}

.button-row button {
  display: table-cell;
  margin-right: 8px;
}

section {
  display: table;
  margin: 8px;
}

.mat-dialog-content {
  margin-bottom: 2em;
}
