<form [formGroup]="employeeForm">
  <p>
      <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
      </mat-form-field>
  </p>
  <p>
      <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
      </mat-form-field>
  </p>
  <p>
      <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="position">
      </mat-form-field>
  </p>
  <p>
      <mat-form-field>
          <mat-label>Compensation</mat-label>
          <input matInput type="number" class="right-align" formControlName="compensation">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
      </mat-form-field>
  </p>
  <section>
      <div class="button-row">
          <button mat-raised-button (click)="cancel()">Cancel </button>
          <button mat-raised-button color="primary" (click)="submit()">Update</button>
      </div>
  </section>
</form>
